<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SQLServeurName.Text" value="(local)" />
		<add key="SQLUser.Text" value="sfinxtest" />
		<add key="SQLPassword.Text" value="sfinxtest" />
		<add key="SQLDatabase.Text" value="" />
		<add key="UseNTAuthentication.Checked" value="True" />
		
		
		<!--  key for mapping sql datatype and dotnet type. Default is System.String -->
		<add key="SQL_bigint" value="System.Int64" />
		<add key="SQL_int" value="System.Int32" />
		<add key="SQL_smallint" value="System.Int16" />
		<add key="SQL_tinyint" value="System.Byte" />
		<add key="SQL_bit" value="System.Boolean" />
		<add key="SQL_decimal" value="System.Decimal" />
		<add key="SQL_numeric" value="System.Decimal" />
		<add key="SQL_money" value="System.Decimal" />
		<add key="SQL_smallmoney" value="System.Decimal" />
		<add key="SQL_datetime" value="System.DateTime" />
		<add key="SQL_smalldatetime" value="System.DateTime" />
		<add key="SQL_uniqueidentifier" value="System.Guid" />
	
	</appSettings>
</configuration>
