<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="cnxstrsqlMAISON" value="user id=sfinxtest;password=sfinxtest;data source=nathanael\netsdk;initial catalog=pubs"/>
		<add key="cnxstrsql" value="user id=sfinxtest;password=sfinxtest;data source=localhost;initial catalog=pubs"/>
		<add key="cnxstroledb" value ="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\pubs_access.mdb"/>
		<add key="PersistDAL.DBHelper" value="SableFin.SfinX.DBHelper.SqlServerContextHelper"/>
	</appSettings>
</configuration>
